body {
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    font-size: 11pt;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.pot {
    width: 220px;
    height: 240px;
    border: 6px solid #212121;
    border-top: 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #e0f2f1;
}
