.wrapper {
    width: 80px;
    margin: 36px 10px 0 10px;
    opacity: .8;
}

.wrapper:hover {
    opacity: 1;
}

.box {
    margin: 0 auto;
    width: 40px;
    height: 40px;
    border: 2px solid #333;
    background-color: #dedede;
    margin-bottom: 16px;
    cursor: pointer;
}

.label {
    text-align: center;
}
